/led_blink/led_blink.X/build/
/led_blink/led_blink.X/dist/
/7_seg/7_seg.X/build/
/7_seg/7_seg.X/dist/
/7_seg/mux_7seg.X/build/
/7_seg/mux_7seg.X/dist/
/pushbutton/push_button.X/dist/
/pushbutton/push_button.X/build/
/16x2/16x2_lcd.X/build/
/16x2/16x2_lcd.X/dist/
/keypad_4x3/4x3_keypad.X/build/
/keypad_4x3/4x3_keypad.X/dist/
/interrupt/interrupt_programming.X/build/
/interrupt/interrupt_programming.X/dist/
/interrupt/tmr_ov_intr.X/build/
/interrupt/tmr_ov_intr.X/dist/
/interrupt/mux_7seg_int.X/build/
/interrupt/mux_7seg_int.X/dist/